<!--
  Generated template for the AvatarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>avatar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar>
      <img [src]="avatarLink" width="47" height="47">
    </ion-avatar>
  </ion-item>
  <button ion-button (click)="openCamera()">Camera</button>
  <button ion-button (click)="openLibrary()">Library</button>
  <div *ngIf="showConfirm">
    <button ion-button (click)="cancel()">Cancel</button>
    <button ion-button (click)="save()">Confirm</button>
  </div>
</ion-content>