<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content color="primary" padding>
    <ion-item>
        <ion-label stacked>Username</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    
      <div text-center margin-top>
        <button ion-button margin-right (click)="signUp()">
          SIGN UP
        </button>
    
        <button ion-button color="secondary" (click)="signIn()" *ngIf="disableLogin === false">
          SIGN IN
        </button>
        <button ion-button color="light" disabled *ngIf="disableLogin === true">
          SIGN IN
        </button>
      </div>
</ion-content>