<!--
  Generated template for the PhotoLibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>photoLibrary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="openOtherPage()">
    Other page
  </button>
  <button (click)="takePicture()">
    Take photo
  </button>
  <button (click)="captureVideo()">
    Capture video
  </button>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let media of listMedia">
        <div ion-row *ngIf="media.isPhoto">
          <img [src]="media.url | imagePipe" class="image-container" />
          <button (click)="selectItem(media)">
            <ion-icon name="checkmark-circle" *ngIf="media.isCheck"></ion-icon>
            <ion-icon name="square-outline" *ngIf="media.isCheck === false"></ion-icon>
          </button>
        </div>
        <div ion-row *ngIf="media.isVideo">
          <!-- <img [src]="media.url" class="image-container" /> -->
          <video controls="controls" [poster]="media.url" preload="metadata" webkit-playsinline="webkit-playsinline"
            *ngIf="media.isVideo" class="image-container" height="200" width="100">
            <source [src]="media.fullPath" type="video/mp4" />
          </video>
          <button (click)="selectItem(media)">
            <ion-icon name="checkmark-circle" *ngIf="media.isCheck"></ion-icon>
            <ion-icon name="square-outline" *ngIf="media.isCheck === false"></ion-icon>
          </button>
          <!-- <videoComponent [thumbnail]="media.url" [isCheck]="media.isCheck" [path]="media.fullPath"></videoComponent> -->
        </div>
        <!-- <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" *ngIf="media.isVideo"
        class="image-container" height="200" width="200">
        <img [src]="media.url" class="image-container" />
        <ion-icon name="checkmark-circle" *ngIf="media.isCheck"></ion-icon>
        <source [src]="media.fullPath" type="video/mp4" />
      </video> -->
        <!-- <button (click)="playVideo(media.fullPath)" *ngIf="media.isVideo">
        Open Video
        
      </button> -->
        <!-- <div class="image-container" [style.background-image]="media.url" ></div> -->
        <!-- <div class="image-container" [innerHTML]="media.url | keepHtml"></div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>