page-home {
  ion-row {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto !important;
    height: 50px;
  }

  ion-label {
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1; /* number of lines to show */
    font-weight: bold;
    font-size: larger;
  }

  .subtitle {
    font-weight: normal;
    font-size: large;
  }

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
  }

  .cateItems {
    margin-right: 10px;
    align-content: center;
    justify-content: center;
  }

  .cateItem {
    width: max-content;
    text-align: center;
    text-align: center;
    margin-left: 10px;
    font-weight: normal;
  }

  .cateItemSelected {
    font-weight: bold;
    width: max-content;
    text-align: center;
    margin-left: 10px;
  }

  .note {
    color: black;
  }
}
