<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row nowrap ion-scroll>
    <button class="cateItems" *ngFor="let cate of categories" (click)="selectCategory(cate)">
      <ion-label class="cateItemSelected" *ngIf="cate == category">{{cate}}</ion-label>
      <ion-label class="cateItem" *ngIf="cate != category">{{cate}}</ion-label>
    </button>
  </ion-row>

  <ion-item>
    <ion-label>Country</ion-label>
    <ion-select ion-list [(ngModel)]="country" selectedText="{{country}}" [compareWith]="compareFn"
      (ionChange)="onCountryChange($event)">
      <ion-option *ngFor="let ctry of listCountry" value="{{ctry}}">{{ctry}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item style="padding-bottom: 10px;">
    <ion-searchbar debounce="500" showCancelButton="always" color="primary" animated placeholder="Search title"
      inputmode="text" type="text" (ionChange)="onChangeTextSearch($event)" value="textSearch"></ion-searchbar>
  </ion-item>

  <ion-list *ngFor="let article of listArticlesShow">
    <button ion-card ion-col (click)="backToTest1(article)">
      <ion-item>
        <ion-label class="ion-text-wrap">{{article.title}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap subtitle">{{article.description}}</ion-label>
      </ion-item>
      <img src={{article.urlToImage}} />
      <!-- <ion-card-content> -->
      <p class="content">
        {{article.content}}
      </p>
      <!-- </ion-card-content> -->
      <ion-row>
        <ion-col align-self-end text-end>
          <ion-note class="note">
            {{article.publishedAt}}
          </ion-note>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>