<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            Map
        </ion-title>
    </ion-navbar>
</ion-header>

<!-- <ion-content padding>
    <div class="map" #map id="map"></div>
</ion-content> -->

<ion-content no-padding no-border no-margin style="background-color: aqua;">
    <button ion-button color="light" (click)="onButtonClick()">
        <ion-icon name="locate"></ion-icon>
    </button>
    <div id="map_canvas" #map_canvas style="width: 100% !important;
    height: 80% !important">

    </div>
    <!-- <ion-content class="map-container"> -->
    <!-- </div> -->
    <!-- </ion-content> -->
</ion-content>