map-page {
  .map-container {
    height: 100%;
    background-color: yellow;
  }
  .Location__title {
    padding-left: 10px;
    padding-right: 10px;
  }
//   div {
//     width: 200px !important;
//     height: 200px !important;
//   }
}
