<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <button ion-item (click)="openAvatar()">
      <ion-avatar>
        <img [src]="avatarLink" width="47" height="47">
      </ion-avatar>
    </button>
    <ion-list>
      <div *ngFor="let p of pages">
        <button ion-item (click)="openPage(p)" *ngIf="p.isShow">
          {{p.title}}
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>