<!--
  Generated template for the AccountmanagerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Account Manager
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-list *ngFor="let account of listAccount">
      <ion-item-sliding>
        <ion-item>
          <h2>{{account.username}}</h2>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeAccount(account)">
            <ion-icon name="remove-circle"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>