<!-- Generated template for the VideoComponent component -->
<div>
  <button (click)="selectVideo()">
    <img [src]="thumbnail" class="image-container" />
    <ion-icon name="checkmark-circle" *ngIf="isCheck"></ion-icon>
  </button>
  <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" *ngIf="showVideo"
    class="image-container" height="200" width="200">
    <source [src]="path" type="video/mp4" />
  </video>
</div>