<ion-header>
    <ion-navbar>
        <ion-title>
            {{ article.title }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>{{article.description}}</h3>
    <img src={{article.urlToImage}} />
    <ion-card-content>
        <p>
            {{article.content}}
        </p>
    </ion-card-content>
    <ion-row>
        <ion-col align-self-end text-end>
            <ion-note class="note">
                {{article.author}}
            </ion-note>
            <br />
            <ion-note>
                {{article.publishedAt}}
            </ion-note>
        </ion-col>
    </ion-row>
</ion-content>