<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            Location detail
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>{{location.address}}</h3>
    
    <ion-row>
        <ion-col>
            <ion-note class="note">
                Latitude: {{location.location.lat()}}
            </ion-note>
            <br />
            <ion-note class="note">
                Longitude: {{location.location.lng()}}
            </ion-note>
        </ion-col>
    </ion-row>
</ion-content>